.nav-bar-area{
    background-color: #2d4257;
    font-family: 'Poppins', sans-serif;
 
 } 
 .logo-img{
    cursor: pointer;
 }
 .nav-menu{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
 }
 .nav-search-box{
    width:350px;
    padding: 1px 10px;
    align-items: center;
    background-color: #F1F1F1;
 }
 .nav-search-box span{
    display:inline-block;
    font-size:21px;
 }
 .nav-search-box input{
    padding:5px 8px;
    width:auto;
    outline:none;
    border:none;
    background-color: #F1F1F1;
 }
 ::placeholder{
    font-size:16px;
 }
 .navbar-nav a{
    font-size:25px;
    margin: 0 15px;
 }
 .nav-user{
     width: 30px;
     height: 30px;
 }
 .nav-menu-item{
    display: flex;
 }
 
 
 .menu .ul .li{
   position: relative;
 }

.menu .ul .li:before{
   position: absolute;
   content: " ";
   width: 100%;
   height: 5px;
   left: 0;
   top: 112%;
   background-color: #fff;
   transition: .3s;
   visibility: hidden;
   opacity: 0;
   transition: .3s;
     

}
.menu .ul .li:hover:before{
   visibility: visible;
   opacity: 1;
   transition: .3s;
}

 
 /* ----------------------
 responsive-css
 ---------------------- */
 
 
 @media only screen and (min-width:992px) and (max-width:1200px) {
    .nav-search-box{
       width:300px;
    }
    .navbar-nav a{
       font-size:22px;
       margin: 0 10px;
    }
    ::placeholder{
       font-size:14px;
    }
    .display-name{
       font-size: 16px;
    }
    
   
    
 }
 /* Medium devices (tablets, less than 992px) */
 @media only screen and (min-width:768px) and (max-width:991px) {
    .nav-menu{
       flex-direction: column;
    }
    .nav-search-box{
       margin-top:10px;
       /* width:100%; */
    }
    .navbar-nav a{
       font-size:25px;
       /* margin: 0 10px; */
    }
    ::placeholder{
       font-size:14px;
    }
    .display-name{
       font-size: 16px;
    }
    .nav-item{
       flex-direction: column;
 
    }
    
  
  }
  
  
  
  /* Small devices (landscape phones, less than 768px) */
  @media only screen and (min-width:576px) and (max-width:767px) {
   
    .nav-menu{
       flex-direction: column;
    }
    .nav-search-box{
       width:300px;
       align-items: center;
    }
    ::placeholder{
       font-size:14px;
    }
    .display-name{
       font-size: 16px;
    }
    .nav-item{
       flex-direction: column;
    }
    .navbar-nav a{
       font-size:24px;
    }
    .item{
       flex-direction: row;
    }
 }
 
 
 /* extra small device */
 @media only screen and (max-width:575px){
    .display-name{
       font-size: 12px;
    }
    .nav-item{
       flex-direction: column;
       align-items: center;
      justify-content: center;
    }
    .nav-menu{
       align-items: center;
       justify-content: center;
    }
    
 }